@model ProjectReseller.Models.item

@{
    ViewBag.Title = "Potwierdź zamówienie";
}

<h2>Czy na pewno chcesz kupić ten przedmiot?</h2>

<div>
    <dl class="dl-horizontal">

        <dd>
            <h3>@Html.DisplayFor(model => model.name)</h3>
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <a href="@Url.Action("OrderProduct", "Delivery", new { id = Model.id })" class="btn btn-primary" role="button" aria-pressed="false">Tak</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger" role="button" aria-pressed="false">Nie</a>

    </dl>
</div>