@model ProjectReseller.Models.report

@{
    ViewBag.Title = "Zgłoszenie";
}

<h2>Zgłoszono ogłoszenie</h2>


<div>
    @Html.ActionLink("OK", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
