@model IEnumerable<ProjectReseller.Models.category>
@using ProjectReseller.Models

@{
    ViewBag.Title = "Index";
}

<h2>Kategorie</h2>

@if (Session["user"] != null) {
    if ((Session["user"] as users).account_type != 0) {
            <p>
                @Html.ActionLink("Stwórz nową kategorię", "Create")
            </p>
    }
}


@foreach (var item in Model) {

    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">@Html.DisplayFor(modelItem => item.name)</a>
    if (Session["user"] != null) {
        if ((Session["user"] as users).account_type != 0) {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.id })
            </td>
        }
    }
}
